.body {background-color: #4f692c;}
#intro {height: 30vw; width: 100vw;}
h1 {color: #f9d7d9; font-family: "Fira Sans", sans-serif;}
h2 {color: #f9d7d9; font-family: "Fira Sans", sans-serif;}
p {color: #fff; font-family: "Fira Sans", sans-serif;}
a {color: #fff; font-family: "Fira Sans", sans-serif;}
.center {text-align: center}
.intro-header {margin-top: 100vw; background-image URL("https://libfozzy.github.io/wedding/piazza-pretorio.jpg")}
.wrapper {width 100%; padding: 0% 10%;}
div.nav {width: 100%; flex-direction: row; flex-flow: row wrap; text-align: center}
