.body {background-color: #4f692c; padding: 2vw; max-width: 100%;}
#intro {height: 100vw; width: 100vw; background-position: 0% 50%; background-size: cover; background-repeat: no-repeat; background-image: url('piazza-pretorio.jpg');}
h1 {color: #f9d7d9; font-family: "Fira Sans", sans-serif;}
h2 {color: #f9d7d9; font-family: "Fira Sans", sans-serif;}
p {color: #fff; font-family: "Fira Sans", sans-serif;}
a {color: #fff; font-family: "Fira Sans", sans-serif;}
.center {text-align: center}
.intro-header {padding-top: 30vw;}
.wrapper {width 100%; padding: 0% 10%;}
div.nav {width: 100%; flex-direction: row; flex-flow: row wrap; text-align: center;}
div.invite {margin-top: 20vw;}
div.invite-box {margin: 0 auto; width: 30vw; height: 20vw; background-color: #4f692c;}
